/**
 * Style within the admin edit page/post screen.
 *
 * Adjusts margins and paddings of the full screen and show logo options.
 */

#simplenineteen-show-logo-option {
  padding-left: 1em;
  margin-top: 0.5em;
}

#simplenineteen-fullscreen-option {
  margin-bottom: 0.5em;
}