/**
 * This handles the styling for the alpha controller in the customize interface.
 * Source: https://gist.github.com/stevenmunro/3dd2d76ab25667b40029
 */

.pluto-alpha-container .transparency {
    height:24px;
    width: 100%;
    background-color:#FFF;
    /* Transparency grid image loaded from BraadMartin's alpha-color-picker.
     * Source: https://github.com/BraadMartin/components/blob/master/customizer/alpha-color-picker/transparency-grid.png
     */
    background-image:url(../images/transparency-grid.png);
    box-shadow:0 0 5px rgba(0,0,0,0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:0;
}

.pluto-alpha-container .ui-slider-handle {
    color:#777;
    background-color:#FFF;
    text-shadow:0 1px 0 #FFF;
    text-decoration:none;
    position:absolute;
    z-index:2;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    border:1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity:0.9;
    margin-top:-2px;
    height:20px;
    cursor:ew-resize;
    font-size:12px;
    padding:3px;
}

.pluto-alpha-container .ui-slider {
    position:relative;
    text-align:center;
    width:88%;
}

.wp-picker-container a.wp-picker-open ~ div.pluto-alpha-container {
    display:block;
}

.pluto-alpha-container {
    box-sizing:padding-box;
    display: none;
    border:1px solid #dfdfdf;
    border-top:none;
    background:#FFF;
    padding:0 11px 6px;
    width: 233px;
}

.wp-picker-container.wp-picker-active .pluto-alpha-container {
    display: block;
}

.customize-control-alphacolor .wp-picker-container .iris-picker {
    border-bottom:none;
}

.wp-picker-container input[type="text"].pluto-color-control.wp-color-picker {
	width: 13.8em;
}