 /*
 Theme Name: Simple Nineteen
 Description: Used to style the share modals for Mastodon, Gab, GNU Social, Throat, and Pleroma
 */
 .body-blackout {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: block;
}
.error {
  text-decoration: none;
  color: #f91f02;
  border: 1px solid #f91f02;
  border-radius: 2px;
  display: none;
  background-color: #fccbc4;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.popup-modal {
  height: auto;
  width: 80%;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  border-radius: 5px;
}
.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}
.popup-modal__close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0.8em;
  top: 0.3em;
}
.popup-modal__instance {
  width: 100%;
  margin-bottom: 0.2em;
}
.font-weight-bold {
  width: 87%;
  margin-bottom: 0.3em;
}
.example-text {
  margin-top: 0.3em;
}
.popup-modal__remember {
  margin-top: 0.2em;
}
.popup-modal__submit {
  float: left;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.popup-modal__submit span {
  margin: 0 0.5em;
}